@use "sass:color";

@each $color, $value in $colores {
    .text-#{$color} {
        color: $value;
    }

    .bg-#{$color} {
        background-color: $value;
    }

    

    @for $i from 1 to 9 {
        .text-#{$color}-light-#{$i} {
            color: color.scale($value, $lightness: $i * 10% );
        }

        .bg-#{$color}-light-#{$i} {
            color: color.scale($value, $lightness: $i * 10% );
        }

        .text-#{$color}-dark-#{$i} {
            color: color.scale($value, $lightness: $i * -10% );
        }

        .bg-#{$color}-dark-#{$i} {
            color: color.scale($value, $lightness: $i * -10% );
        }
    }
}